.main {
    background: white;
}

.thesis__header {
    display: flex;
    gap: 29rem;
    align-items: center;
    position: relative;
    right: 70px;

}

.thesis__description-box {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 2.5rem 6rem 5rem 4rem;
    border-top-right-radius: 10px;
    margin-top: 4rem;
    box-shadow: -5px 4px 22px 9px rgba(66, 68, 90, 1);
    position: absolute;
    left: 0;
    width: 90%;
}

.thesis__cover {
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 150px;
}


.thesis__info {
    position: relative;
    display: flex;
    padding-left: 12rem;
    margin: 0 auto;
}

.thesis__description {
    margin-top: 5rem;
}

.thesis__description-text {
    padding-bottom: 3.33rem;
    border-bottom: 1px solid black;
    width: 60ch;
}

.methodology__description-text, .thesis__type__description-text, .keywords__description-text {
    margin: 0;
}

.methodology__title, .thesis__type-title, .keywords__title {
    margin-bottom: .7rem;
}

.thesis__actions {
    display: flex;
    gap: 1rem;
}

.thesis__sidebar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.thesis__sidebar-title {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0.6rem;
    margin-top: 2rem;
}

.thesis__sidebar-info {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}


.thesis__btn {
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.thesis__sidebar-content {
    position: relative;
    bottom: 72px;
}

.thesis__btn--primary {
    background-color: #1A2368;
    color: white;
    margin-right: 2rem;
    padding: 1rem 2rem;
}

.thesis__btn--secondary {
    background-color: #d7d7d7;
    color: #333;
    padding: 1rem 2rem;
}

/* Rating Stars */
.thesis__content {
    flex: 1;
    position: relative;
}

.thesis__rating {
    font-size: 15px;
    margin-bottom: 8px;
}

.thesis__stars {
    color: #ccc;
    cursor: pointer;
}

.thesis__stars span.active {
    color: #f4c150;
}

.thesis__title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 4px;
}

.thesis__author {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
    font-weight: bold;
}

.thesis__shortdesc {
    font-size: 13px;
    color: #777;
    margin-bottom: 12px;
    width: 33ch;
}

.thesis__heading {
    margin: 0;
}

/* Page navigation */
.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-family: Arial, sans-serif;
    margin-left: 8rem;
}

.spinner__button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.spinner__number {
    background: #f0f0f0;
    border-radius: 4px;
    padding: 5px 12px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.page__count {
    border-top-left-radius: 20px;
    padding: 1rem 2rem;
    background-color: #f4c150;
    position: absolute;
    bottom: 50px;
    right:0;
    font-size: 16px;
    font-weight: bold;
}

.count{
    font-weight: normal;
}